# ==============================================================================
# 1. REDIS KONFIGURACIJA (Konekcija baze)
# ==============================================================================
# OPIS: Host mora biti ime kontejnera iz docker-compose.yml ("redis"), a ne "localhost"!
# Zato što API kontejner i Redis kontejner komuniciraju preko interne Docker mreže.
REDIS_CONNECTION=redis:6379

# Ovo je specifična varijabla za .NET aplikaciju. 
# Duple donje crte (__) automatski menjaju vrednost u appsettings.json pod:
# "ConnectionStrings": { "Redis": "..." }
ConnectionStrings__Redis=redis:6379


# ==============================================================================
# 2. AUTORIZACIJA (Zaštita API-ja)
# ==============================================================================
API_KEY=Trending_Kljuc_123
# sifra za swegger
Authorization__ApiKey=Trending_Kljuc_123

# ==============================================================================
# 3. PODEŠAVANJA APLIKACIJE I LOGOVANJA
# ==============================================================================

ASPNETCORE_ENVIRONMENT=Development
LOG_LEVEL=Information

